/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

/* Page */
body {
  background: #e5e7eb;
  overflow: hidden;
}

/* =========================
   WHITEBOARD SECTION
========================= */

.whiteboard-wrapper {
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(#f9fafb 1px, transparent 1px),
    linear-gradient(90deg, #f9fafb 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Large canvas = infinite scroll illusion */
canvas {
  display: block;
  width: 100%;
  height: 3000px; /* JS will extend later */
  background: white;
  cursor: crosshair;
  touch-action: none;
}

/* =========================
   CONTROL PANEL
========================= */

.control-panel {
  position: fixed;
  width: 100px;
  height: auto;
  top: 20px;
  left: 20px;
  padding: 5px;
  background: rgba(10, 10, 10, 0.758);
  backdrop-filter: blur(10px);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 10;
  cursor: grab;
  transition: opacity 0.3s ease, transform 0.2s ease;
  opacity: 0.5;
  display: flex;
  padding: 5px 2px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  touch-action: none;
}

/* Hidden default color input */
#colorInput {
  display: none;
}

/* Custom circular button */
.color-picker-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0.5px solid #333;
  cursor: pointer;
  background: #ff0000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-picker-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Hover / active state */
.control-panel:hover,
.control-panel:active {
  opacity: 1;
  transform: scale(1.02);
}

/* Drag feedback */
.control-panel:active {
  cursor: grabbing;
}

/* Controls */

.control input {
  width: 45px;
  padding: 2px 4px;
  border: 1.5px solid #ccc;
  color: #fff;
  margin: 0 6px;
  background-color: transparent;
}
.control input:focus {
  outline: none;
  border: 1.5px solid #ccc;
}

button {
  padding: 2px 4px;
  border: none;
  background: transparent;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  background: #111;
  border-radius: 4px;
}
