/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", monospace;
}

/* Background */
body {
  height: 100vh;
  background: radial-gradient(circle at top, #1a1a1a, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper */
.clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Analog Clock */
.analog-clock {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: linear-gradient(145deg, #111, #2a2a2a);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9), 0 15px 40px rgba(0, 0, 0, 0.8);
  border: 6px solid #333;
}

/* Ticks */
.ticks {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tick {
  position: absolute;
  width: 4px;
  height: 16px;
  background: #aaa;
  top: 8px;
  left: 50%;
  transform-origin: center 150px;
}

.tick:nth-child(1) {
  transform: rotate(0deg);
}
.tick:nth-child(2) {
  transform: rotate(30deg);
}
.tick:nth-child(3) {
  transform: rotate(60deg);
}
.tick:nth-child(4) {
  transform: rotate(90deg);
}
.tick:nth-child(5) {
  transform: rotate(120deg);
}
.tick:nth-child(6) {
  transform: rotate(150deg);
}
.tick:nth-child(7) {
  transform: rotate(180deg);
}
.tick:nth-child(8) {
  transform: rotate(210deg);
}
.tick:nth-child(9) {
  transform: rotate(240deg);
}
.tick:nth-child(10) {
  transform: rotate(270deg);
}
.tick:nth-child(11) {
  transform: rotate(300deg);
}
.tick:nth-child(12) {
  transform: rotate(330deg);
}

/* Hands */
.hand {
  z-index: 10;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
  transition: all 0.05s ease-in;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hour-hand {
  width: 6px;
  height: 70px;
  background: #f5f5f5;
}

.minute-hand {
  width: 4px;
  height: 95px;
  background: #e0e0e0;
}

.second-hand {
  width: 2px;
  height: 115px;
  background: #ff3b3b;
  transition: transform 0.05s linear;
}

/* Center Dot */
.center-dot {
  z-index: 20;
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ff3b3b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Digital Clock */
.digital-clock {
  z-index: 5;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 18px;
  background: linear-gradient(180deg, #0b0b0b, #1c1c1c);
  border-radius: 6px;
  border: 1px solid #333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9), 0 4px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Digital Text */
.digital-clock span {
  color: #00ffcc;
  font-size: 22px;
  letter-spacing: 2px;
  text-shadow: 0 0 5px rgba(0, 255, 204, 0.6), 0 0 15px rgba(0, 255, 204, 0.3);
}
.hours,
.minutes,
.seconds {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.seconds {
  font-size: 14px;
  opacity: 0.8;
}
