@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
/* =========================
   CSS RESET & VARIABLES
========================= */
.note-header {
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #f4f5f7;
  --note-bg: #fff9a6;
  --note-border: #e0d97c;
  --toolbar-bg: #9e5303;
  --toolbar-border: #e5e7eb;
  --text: #1f2937;
}

body {
  margin: 0;
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  overflow: hidden;
}

/* =========================
   TOOLBAR
========================= */
.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: var(--toolbar-bg);
}

.app-title {
  margin: 0;
  font-size: 1.1rem;
  color: #ffffff;
}

.add-note-btn {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  background: #174c13;
  color: #fff;
  cursor: pointer;
}

.add-note-btn:hover {
  background: #092308;
}

/* =========================
   NOTES CONTAINER
========================= */
.notes-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px);
  overflow: auto;
}

/* =========================
   STICKY NOTE
========================= */
/* .note {
  position: absolute;
  background-image: url("assets/stickyNoteBg.png") no-repeat center/cover;
  border: 1px solid var(--note-border);
  display: flex;
  flex-direction: column;
  touch-action: none;
  } */
.note {
  position: absolute;
  left: 0;
  top: 0;
  touch-action: none;
  will-change: transform;
  width: 300px;
  height: 200px;
  padding: 0 12px 12px 12px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: ease 0.04s;
}

.note:active {
  cursor: grabbing;
}

/* =========================
   NOTE HEADER
========================= */
.note-drag-handle {
  width: 100%;
  height: 30px;
}
.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  user-select: none;
  position: relative;
}

.note-title {
  font-family: "Borel", cursive;
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  border-top: 1.5px solid #fff9a6;
  border-bottom: 1.5px solid #fff9a6;
  border-left: none;
  border-right: none;
  outline: none;
  width: 100%;
}

.delete-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: -9px;
  color: #fff;
  font-weight: bold;
}

/* =========================
   NOTE CONTENT
========================= */
.note-content {
  flex: 1;
  margin-top: 8px;
  font-size: 0.85rem;
  resize: none;
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  font-family: "Borel", cursive;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .note {
    width: 180px;
    min-height: 160px;
  }
}
